{% extends 'logoNavbar.html' %}

{% block content %}
<br>
<section name="form" style="text-align: center;">
		<p style="text-align: center; font-size: 30px;">~ Schedule Form ~</p><br>
		<form id="form" method="POST" action="{% url 'mysite:schedule_form' %}">
			{% csrf_token %}
			{% for field in form %}
			<div class="form-group">
			    <label for="exampleInputName1">{{ field.label }}<br>
			    {{ field }}
			    </label>
			</div>
			{% endfor %}
			<br>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
</section>
{% endblock %}