{% extends 'logoNavbar.html' %}
{% load static %}

{% block content %}

	<br>
	<div>
		<h1 style="font-family: 'Playball', cursive; text-align: center; font-size: 10vw;">Welcome!</h1>
	</div>
	<div>
		<img src="https://pbs.twimg.com/media/DnfVh_NVsAA307u.jpg" class="welcomeimg">
	</div>
	<br><br><br>
	<div class="container">
    		<div class="container">
			  <div class="row">
			    <div class="col-sm">
			      	<a href="{% url 'mysite:mainpage' %}" type="button" class="btn btn-light btn-lg welcomebutton" style="margin-bottom: 5%">
						<p class="buttondesc">&ensp;About Me&ensp;
						 <svg height="100" width="50">
			 			 	<polygon points="0,0 35,50 0,100 20, 50"  style="fill:#107551;stroke-width:1;float: right;" />
						 </svg> 
						</p>
					</a>
			    </div>
			    <div class="col-sm">
			      	<a href="{% url 'mysite:registration' %}" type="button" class="btn btn-light btn-lg welcomebutton">
						<p class="buttondesc">&ensp;Register Yourself&ensp;
						 <svg height="100" width="50">
			 			 	<polygon points="0,0 35,50 0,100 20, 50"  style="fill:#107551;stroke-width:1;float: right;" />
						 </svg> 
						</p>
					</a>
			    </div>
			</div>
		</div>
	</div>
{% endblock %}