#aboutMe{
	height: 200%;
}

.logo{
	width: 150px;
	height: auto;	
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
}

.welcomeimg{
	min-width: 300px;
	width: 40%; 
	height: 40%; 
	clip-path: circle(45% at 50% 50%); 
	margin-left: 30%;
}

.buttondesc{
	font-size: 2vw;
	margin-top: 10%
}

.welcomebutton{
	margin: 0% auto 0% auto; 
	padding: 0.3rem 3rem
}

@media(max-width: 600px){
	.welcomeimg{
		margin-left: 25%;
	}
}

@media(max-width: 450px){
	.welcomeimg{
		margin-left: 10%;
	}
	.aboutbutton{
		margin-left: 13%;
	}
	.buttondesc{
		font-size: 15px;
	}
}

body{
	background-color: #43C6AC;
	background-image: linear-gradient(to top right, #43C6AC, #F8FFAE);
}

p{
	font-family: 'Reem Kufi', sans-serif;
	font-size: 30px;
}

h2{
	font-family: 'Reem Kufi', sans-serif;
	margin-bottom: -1rem;
}

#quote{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	text-align: center;
}

.topLine{
	stroke: black;
	stroke-width:20;
	margin-top: auto;
	margin-bottom: auto;
}

.rcorners1 {
    border-radius: 25px;
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 300px;
}

.rcorners2 {
	float: left;
    border-radius: 25px;
    background: #FFFFFF;
    margin-left: 24%;		
    width: 380px;
    height: 700px;
}

.rcorners3 {
	float: right;
    border-radius: 25px;
    background: #FFFFFF;
    margin-right: 23%;
    width: 380px;
    height: 330px;
}

.schedule1{
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 380px;
    height: 330px;
    border-radius: 25px;
    background: #FFFFFF;
}

.schedule2{
	float: right;
	margin-right: 25px;
	width: 380px;
    height: 330px;
    border-radius: 25px;
    background: #FFFFFF;
}

#ProfilePhoto{     
	float: left;     
	width: 300px;     
	height: auto;     
	clip-path: circle(45% at 50% 50%);     
	margin-top: 2.5%; 
}

.quoteBox{
	margin-top: 50%;
	height: 200px
}

.footer{
	margin-top: 50px; 
	margin-bottom: 0px;
	background-color: #27A275	;
	height: 425px;
}

.registerButton{
	padding: 0rem 2rem;
	margin-left: 40%
}

@media(max-width: 1450px){
	.rcorners2, .rcorners3{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.rcorners3{
		float: none;
		margin: 30px auto 0% auto;
	}

	.quoteBox{
		margin-top: 10%;
	}

	.footer{
		height: auto;
	}
}

@media(max-width: 800px){
	.rcorners1{
		width: 90%;
		height: auto;
		margin: 0% 3% 0% 5%;
	}
	#ProfilePhoto{	
		width: 100%;
	}
	.rcorners2, .rcorners3{
		float: none;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.rcorners3{
		margin-top: 30px;
	}

	.quoteBox{
		margin-top: 10%;
	}

	.footer{
		height: auto;
	}	
}

.subtitle{
	font-size: 25px;
	margin-bottom: -1.25rem;
}

.eventLogo{
	width: 100px; 
	height: 100px;
	margin-left: 5%;
}

.eduLogo{
	width: 40px; 
	height: 40px;
	margin-left: 5%;
}

.socmedLogo{
	width: 50px; 
	height: 50px;
	float: left;
}

#socmedID{
	font-size: 20px;
	margin-top: 10px;
	text-align: left;
}