<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
	
	.header{
		background: linear-gradient(#123BAB,#36599B);
		padding: 50px;
		text-align: center;
	}

	.main{
		float: left;
		width: 55%;
		padding: 15px;
		margin-top: 7px;
	}
	

	.info{
		background: linear-gradient(#FE7800,#FF9333) ;
		float: right;
		width: 35%;
		padding: 10px;
		margin-top: 20px;
		text-align: center;
	}

	.responsive{
		max-width: : 100%;	
		width: auto;
	}

	.cropping{
		width: 400px;
		height: 400px;
		object-fit: cover;
	}

	@media screen and (max-width: 800px){
		.main, .info, .responsives{
			width: 90%
		}
	}

	@media only screen and (max-width:620px) {
 	 /* For mobile phones: */
  		.main, .info, .responsive {
    		width:100%;
  		}
	}

	@media only screen and (max-width:400px) {
 	 /* For mobile phones: */
  		.main, .info, .responsive {
    		width:100%;
  		}
	}

	</style>
	<title>The Adventure of Rafif Taris</title>
</head>
<body style="background-color: #02CC1B;">
	<div class='header'>
		<h1><font color = #FFFFFF>Welcome to My Journey!</font></h1>
		<h2>
	</div>

	<div class="main">
		<font color = #FFFFFF>
		<h2>Story of My Life</h2>
		<p>Nama		: {{ name }} </p>
		<p>NPM		: {{ npm }} </p>
		<p>Umur		: {{ age }} tahun </p>
		<p>Kuliah	: Faculty of Computer Science University of Indonesia</p>
		<p>Hobi		: Mendengarkan Musik, Main Game, Membaca Novel</p>
		<p></p>
		<p>Saya suka mendengarkan musik terutama genre K-Pop dan EDM. Saya masuk Fasilkom UI karena saya ingin mendalami sistem keamanan komputer. Menjadi programmer web adalah salah satu langkah menuju impian saya. See you on top guys!</p>
		</font>
	</div>

	<div class="info responsive">
		<font color = #FFFFFF>
		<h2>My Photo</h2>
		<img src="http://www.about.tarung2017.com/foto/329.jpg" alt="Profile Picture" class='cropping responsive'>
		<p></p>
		<img src="https://scontent.fcgk10-1.fna.fbcdn.net/v/t1.0-9/40844951_2078756502175899_3138172950662873088_n.jpg?_nc_cat=0&oh=3620980e84dc130cacaa0ddaec06e3bd&oe=5BF0D0E2" alt="Profile Picture 2" class='responsive cropping'>
		</font>
	</div>

</body>
</html>